<template id='contact'>

    <h1 class="headline">Contact Me</h1>    
    <form id="contact-form" class="contactForm">

        <input type="hidden" name="contact_number">

        <div class="item">
            <label for="user_name">NickName<span class="required">*</span></label>
            <input type="text" name="user_name" size="30" required="required"/>
        </div>

        <div class="item">
            <label for="user_email">E-mail<span class="required">*</span></label>
            <input type="email" name="user_email" size="30" onblur="isEmail(this.value)" placeholder="test@example.com" required="required"/>
            <span class="formTip"></span>
        </div class="item">

        <div class="item">
            <label for="message">Message<span class="required">*</span></label>
            <textarea name="message" cols="45" rows="6" required="required"></textarea>
        </div>       

        <p class="required">*is required</p>        
        <br/>
        <input id="sendZeki" type="submit" value="Send 📤" />
        
    </form>
    <div id="send-status" class="sendStatus">
        <div class="sending"></div>        
        <p class="msg">Sending mail...</p>
        <a href='javascript:void(0)' class='return'><= return</a>
        
    </div>

    <script type="text/javascript">
        emailjs.init('A1O32767lvzH8CNyq');
        ZekiCore.getId('send-status').addClass('d-none');
        ZekiCore.getId('contact-form').on('submit', function(event) {
            event.preventDefault();
            // generate a five digit number for the contact_number variable
            this.contact_number.value = Math.random() * 100000 | 0;
            // these IDs from the previous steps
            ZekiCore.getId('contact-form').addClass('d-none');
            ZekiCore.getId('send-status').delClass('d-none');
            emailjs.sendForm('service_zekixfly', 'template_zekixfly', this)
                .then(function() {
                    resultPage("✅ Mail sent successfully!");
                }, function(error) {
                    resultPage(`❌ Sorry, Mail delivery failed...<br />${error?.text}`);
                });
        });
        function resultPage(message){        
            ZekiCore.getId('send-status').getClass('msg')[0].html = message;
            ZekiCore.getId('send-status').getClass('sending')[0].addClass('d-none');
            ZekiCore.getId('send-status').getClass('return')[0].addClass('d-block');
            ZekiCore.getId('send-status').getClass('return')[0].on('click',()=>{
                ZekiCore.getId('send-status').getClass('sending')[0].delClass('d-none');
                ZekiCore.getId('send-status').getClass('return')[0].delClass('d-block');
                ZekiCore.getId('send-status').getClass('msg')[0].html = 'Sending mail...';
                ZekiCore.getId('send-status').addClass('d-none');
                ZekiCore.getId('contact-form').delClass('d-none');
            })
        }

    </script>    
</template>

